#container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    align-items: center;
    justify-content: center;
}

#input-el {
    padding: 0.25rem;
}

#button-el {
    color: black;
    background-color: cadetblue;
    display: block;
    margin-top: 10px;
    width: 100px;
    padding: 0.5rem;
    margin: 0.5rem;
}

#button-el:hover {
    background-color: green;
    cursor: pointer;
}

#clear-el {
    margin: 0.5rem;
    color: grey;
}

#clear-el:hover {
    background-color: red;
    cursor: pointer;
}

#todoRender-el {
    margin-top: 15px;
    list-style-type: none;
    font-size: 1.125rem;
    font-weight: 100;
}

.deleteButton {
    border: 0px;
    border-radius: 2px;
    color: gray;
}

.taskDone {
    text-decoration: line-through;
}